- attributes("title") = "Shopping cart"
-import com.softserve.cart.model._
-@ val cartId: String
-@ val cart: Iterable[CartItem]

table.table
  thead
    tr
      th Id
      th Name
      th Price
      th Count
      th Sum
  tbody
    - for(cartItem <- cart)
      tr
        td
          a(href="/cartitems/#{cartItem.productId}" class="btn btn-danger delete-cart-item") Remove from cart
        td= cartItem.product.name
        td= "$" + cartItem.product.price
        td= cartItem.count
        td= "$" + cartItem.sum

a(href="/shopping-cart/checkout" type="submit" class="btn btn-primary") Checkout cart

